<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.boot.mapper.UserMapper">


    <resultMap id="userMap" type="com.example.boot.entity.model.User">

        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="account" property="account"/>
        <result column="pass_word" property="passWord"/>
        <result column="create_Time" property="createTime"/>
        <collection property="role" javaType="java.util.List" ofType="com.example.boot.entity.model.Role">
            <id column="id" property="id"/>
            <result column="role_name" property="roleName"></result>
            <result column="user_id" property="userId"></result>
            <result column="create_ime" property="createTme"></result>
        </collection >

    </resultMap>

    <select id="selectUserList" parameterType="String" resultMap="userMap">
          select u.*,r.*
          from t_user as u
          left join t_role as r on r.user_id = u.id
          where u.user_name = #{userName};
    </select>


</mapper>